<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>The Reactor Core</title>
        <style media="screen">
            {% include base-styles.css.scss.liquid %}
            {% include syntax-colors.css.scss.liquid %}
        </style>

        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
    </head>
    <body>
        <!-- TODO: Throw this in a nav -->
        <h1 class="siteTitle">
            <a href="/">The Reactor Core</a>
        </h1>
        {{ content }}
    </body>
</html>
