<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>The Reactor Core</title>
        <style media="screen">
            {% include base-styles.css.scss.liquid %}
            {% include syntax-colors.css.scss.liquid %}
        </style>

        <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet">
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
    </head>
    <body>
        <div class="wrapper">
            <header>
                <div class="site-title-wrapper">
                    <h1 class="site-title">
                        <a href="/">The Reactor Core</a>
                    </h1>
                    <small>Where the engineers hang out</small>
                </div>
                <h2 class="nav">
                    <a href="/about">About</a>
                </h2>
            </header>
            <hr />
            <section class="main-content">
                {{ content }}
            </section>
            <footer>
                <!-- TODO: Add some content to my footer -->
            </footer>
        </div>
    </body>
</html>
