---
layout: base.html.liquid
---
<div class="post">
    <h1 class="title">{{ pageTitle }}</h1>
    <small>Published {{ date | date: "%Y-%m-%d" }}</small>
    <div class="content">
        {{ content }}
        <span class="tombstone">&#9670;</span>
    </div>
</div>
